html,
body {
  max-width: auto;
  overflow-x: hidden;
  background-image: url(../images/pizza.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f3f3f3;
  text-align: center;
}

.spec {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.containe {
  margin-left: 200px;
  margin-right: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  min-width: 320px;
  max-width: 320px;
  text-align: center;
  font-family: arial;
  background-color: darkgray;
  color: #000;
  position: relative;
  text-align: center;
  justify-content: center;
}

.price {
  color: yellow;
  background-color: tomato;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {

  .card,
  .spec {
    display: block;
    width: 100%;
  }
}

header {
  max-width: auto;
  width: 100%;
  position: relative;
  top: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: black;
}

.topnav {
  background-color: #030303;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: yellow;
  color: green;
}

.topnav a.active {
  background-color: rgb(250, 24, 8);
  color: white;
}

.topnav .icon {
  display: none;
}

ion-icon {
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.home-pic {
  background-image: url(../images/pizza-952172_960_720.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: tomato;
  height: 700px;
  width: 100%;
}

h3 {
  background-color: tomato;
  padding: 5px;
}

.specials-img {
  position: relative;
  text-align: center;
}

.ptype {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 50px;
}

.contact-pic {
  color: #030303;
  margin-top: 100px;
}

form {
  padding: 30px;
  margin: 30px;
}

.container {
  background-color: darkgray;

}

/*SHOP HTML*/
.show {
  display: block;
}

.build-pizza {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.pd {
  margin: 50px;
}

select {
  max-width: 150px;
  min-width: 150px;
}